# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weatherdf = pd.read_csv("city_table.csv")
weatherdf.dropna(inplace = True)

In [3]:
weatherdf.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,MaxTemp,WindSpeed
1,1,westport,90.0,US,1.603752e+09,93.0,41.14,-73.36,57.20,11.41
3,3,nikolskoye,90.0,RU,1.603752e+09,87.0,59.70,30.79,48.20,6.71
4,4,koslan,100.0,RU,1.603752e+09,97.0,63.46,48.90,21.09,5.28
5,5,yellowknife,75.0,CA,1.603752e+09,67.0,62.46,-114.35,23.00,5.82
6,6,albany,100.0,US,1.603751e+09,98.0,42.60,-73.97,50.00,3.00

In [4]:
weatherdf.dtypes

City_ID         int64
City           object
Cloudiness    float64
Country        object
Date          float64
Humidity      float64
Lat           float64
Lng           float64
MaxTemp       float64
WindSpeed     float64
dtype: object

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weatherdf[["Lat", "Lng"]]
humidity = weatherdf["Humidity"].astype(float)

In [6]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
weatherdf.dtypes

City_ID         int64
City           object
Cloudiness    float64
Country        object
Date          float64
Humidity      float64
Lat           float64
Lng           float64
MaxTemp       float64
WindSpeed     float64
dtype: object

In [9]:
bestcities=weatherdf.loc[(weatherdf['MaxTemp']>=70)&(weatherdf['MaxTemp']<=80)&(weatherdf['WindSpeed']<=10)&(weatherdf['Cloudiness']==0)]

In [10]:
bestcities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,MaxTemp,WindSpeed
123,123,salalah,0.0,OM,1.603751e+09,60.0,17.02,54.09,75.20,4.70
187,187,amalapuram,0.0,IN,1.603752e+09,91.0,16.58,82.02,74.23,3.20
265,265,pemba,0.0,MZ,1.603752e+09,80.0,-12.97,40.52,76.66,4.92
300,300,esna,0.0,EG,1.603752e+09,44.0,25.29,32.55,75.20,3.36
312,312,kovur,0.0,IN,1.603752e+09,83.0,14.48,79.98,76.69,5.77
314,314,san juan,0.0,AR,1.603752e+09,19.0,-31.54,-68.54,74.66,6.24
328,328,bauchi,0.0,NG,1.603752e+09,30.0,10.50,10.00,75.18,3.78
505,505,nioro,0.0,GM,1.603751e+09,52.0,13.35,-15.75,78.96,5.61
533,533,keti bandar,0.0,PK,1.603752e+09,57.0,24.14,67.45,78.10,8.21
555,555,abnub,0.0,EG,1.603752e+09,60.0,27.27,31.15,71.60,4.70
559,559,general roca,0.0,AR,1.603752e+09,30.0,-39.03,-67.58,71.60,8.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df=bestcities.copy()

In [12]:
hotel_df['Hotel Name']=''

In [13]:
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,MaxTemp,WindSpeed,Hotel Name
123,123,salalah,0.0,OM,1.603751e+09,60.0,17.02,54.09,75.20,4.70,
187,187,amalapuram,0.0,IN,1.603752e+09,91.0,16.58,82.02,74.23,3.20,
265,265,pemba,0.0,MZ,1.603752e+09,80.0,-12.97,40.52,76.66,4.92,
300,300,esna,0.0,EG,1.603752e+09,44.0,25.29,32.55,75.20,3.36,
312,312,kovur,0.0,IN,1.603752e+09,83.0,14.48,79.98,76.69,5.77,
314,314,san juan,0.0,AR,1.603752e+09,19.0,-31.54,-68.54,74.66,6.24,
328,328,bauchi,0.0,NG,1.603752e+09,30.0,10.50,10.00,75.18,3.78,
505,505,nioro,0.0,GM,1.603751e+09,52.0,13.35,-15.75,78.96,5.61,
533,533,keti bandar,0.0,PK,1.603752e+09,57.0,24.14,67.45,78.10,8.21,
555,555,abnub,0.0,EG,1.603752e+09,60.0,27.27,31.15,71.60,4.70,
559,559,general roca,0.0,AR,1.603752e+09,30.0,-39.03,-67.58,71.60,8.05,

In [18]:
# geocoordinates
target_radius = 5000
target_type = "lodging"


# set up a parameters dictionary
params = {
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    Lat= row['Lat']
    Lng=row['Lng']
    city_name = row["City"]
    
    # get city type from df
    params['location']= f'{Lat},{Lng}'

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url,params=params).json()
    results = response['results']

    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        
    except(KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

print("-------End of Search-------")

Closest hotel in salalah is HAMDAN PLAZA HOTEL.
------------
Closest hotel in amalapuram is swayamprabha service apartments.
------------
Closest hotel in pemba is Guesthouse Samotina.
------------
Closest hotel in esna is Orient Star Dahabyia Isna 05 Nights Each Sunday.
------------
Closest hotel in kovur is Pleasant Stay.
------------
Closest hotel in san juan is Hotel Provincial.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Closest hotel in keti bandar is Haji laloo memon house.
------------
Closest hotel in abnub is مسجد الخطبة.
------------
Closest hotel in general roca is Hotel El Recreo.
------------
-------End of Search-------

In [19]:
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,MaxTemp,WindSpeed,Hotel Name
123,123,salalah,0.0,OM,1.603751e+09,60.0,17.02,54.09,75.20,4.70,HAMDAN PLAZA HOTEL
187,187,amalapuram,0.0,IN,1.603752e+09,91.0,16.58,82.02,74.23,3.20,swayamprabha service apartments
265,265,pemba,0.0,MZ,1.603752e+09,80.0,-12.97,40.52,76.66,4.92,Guesthouse Samotina
300,300,esna,0.0,EG,1.603752e+09,44.0,25.29,32.55,75.20,3.36,Orient Star Dahabyia Isna 05 Nights Each Sunday
312,312,kovur,0.0,IN,1.603752e+09,83.0,14.48,79.98,76.69,5.77,Pleasant Stay
314,314,san juan,0.0,AR,1.603752e+09,19.0,-31.54,-68.54,74.66,6.24,Hotel Provincial
328,328,bauchi,0.0,NG,1.603752e+09,30.0,10.50,10.00,75.18,3.78,
505,505,nioro,0.0,GM,1.603751e+09,52.0,13.35,-15.75,78.96,5.61,
533,533,keti bandar,0.0,PK,1.603752e+09,57.0,24.14,67.45,78.10,8.21,Haji laloo memon house
555,555,abnub,0.0,EG,1.603752e+09,60.0,27.27,31.15,71.60,4.70,مسجد الخطبة
559,559,general roca,0.0,AR,1.603752e+09,30.0,-39.03,-67.58,71.60,8.05,Hotel El Recreo

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))